In [1]:
import pandas as pd

In [2]:
addidas = pd.read_csv("adidas.csv")

In [3]:
 addidas.columns

Index(['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at'],
      dtype='object')

In [4]:
addidas.shape

(845, 20)

In [36]:
len(addidas.loc[:,"url"].value_counts()/addidas.shape[0])

845

In [37]:
len(addidas.loc[:,"sku"].value_counts()/addidas.shape[0])

845

In [38]:
len(addidas.loc[:,"images"].value_counts()/addidas.shape[0])

845

In [39]:
len(addidas.loc[:,"description"].value_counts()/addidas.shape[0])

560

In [9]:
# lo primero seria la exclusion de algunas columnas que no seran necesarias para este tipo de analisis, por lo que reprepresentan, no son variabbles 
# categoricas por decirlo de alguna forma, como el precio, las reviews_count, la clasificicacion o puntucacion que seria average_rating.
# tambien URL, SKU, Images, porque son variables que practicamente tienen la misma cantidad de niveles, como los registros existentes, se podria
# hacer una condicion para excluirmos durante el ejercicio pero pienso yo, que se puede hacer direcamente desde ahora porque para mi no son variables categoricas
# y el ejercicio nos dice claro que debemos de tomar la variables categoricas.
categorias=[ 'name','currency',
       'availability', 'color', 'category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'country', 'language']

In [10]:
# pruebas de cogigo para encontrar una forma de realizar la condicion del ejercicio

In [11]:
addidas.loc[addidas["color"]=="White",:].shape[0]/addidas.shape[0]

0.26272189349112424

In [12]:
prueba_niveles=pd.DataFrame(addidas.loc[:,["color"]].value_counts()/addidas.shape[0])

In [13]:
prueba_niveles.columns= ["porcentaje"]

In [14]:
# ejemplo de como se veria cada nivel de la columna colores con sus porcentajes de representatividad 
prueba_niveles

            porcentaje
color
White         0.262722
Black         0.221302
Blue          0.123077
Grey          0.095858
Pink          0.073373
Green         0.069822
Purple        0.036686
Red           0.029586
Multicolor    0.023669
Yellow        0.020118
Orange        0.013018
Burgundy      0.010651
Beige         0.007101
Multi         0.004734
Gold          0.003550
Turquoise     0.002367
Silver        0.001183
Brown         0.001183

In [15]:
len(prueba_niveles.loc[prueba_niveles["porcentaje"] > 0.90,:])

0

# Ejericico 1
### Según el dataset de adidas, para las columnas categóricas, encontrar -aquellas columnas que tienen mas de un nivel, y que por lo menos uno de esos niveles represente mas o igual del 98%. Para las columnas que cumplan esa premisa, eliminaran del array de columnas validas

In [16]:
target = 0.98
columnas_validas =[]
columnas_un_nivel=[]
columnas_no_validas=[]


for columna in categorias:
    niveles = addidas.loc[:,[columna]].drop_duplicates()
    cantidad_niveles = niveles.shape[0]
    # en esta parte validamos que la columna tenga mas de un nivel
    if cantidad_niveles>1:
        # en esta parte obtenemos un dataframe con cada uno de los porcentajes de representatividad
        # que tiene cada nivel de una categoria, dividiendo sus valores entre el total de registros del 
        # dataframe original
        porcentaje_niveles = pd.DataFrame(addidas.loc[:,[columna]].value_counts()/addidas.shape[0])
        # le cambiamos el nombre la columna                                   
        porcentaje_niveles.columns = ["porcentaje"]
        # obtenemos la cantidad niveles que cumplen con la condicion de ser mayor o igual al target = 0.98 en este caso                                   
        cantidad_mayores_target=len(porcentaje_niveles.loc[porcentaje_niveles["porcentaje"] >=target ,:])
        # si la cantidad es cero quiere decir que ninguno de los niveles cumple con la condicion y por ende, la columna es
        # valida, asi que puede entrar al arreglo de columnas validas, caso contrario no es valida
        if cantidad_mayores_target==0:                              
            columnas_validas.append(columna)
        else:
            columnas_no_validas.append(columna)                              
            
    else:
        columnas_un_nivel.append(columna)

In [17]:
columnas_validas

['name', 'color', 'category', 'breadcrumbs', 'description']

In [18]:
columnas_no_validas

['availability']

In [19]:
columnas_un_nivel

['currency', 'source', 'source_website', 'brand', 'country', 'language']

In [20]:
addidas.loc[:,"availability"].value_counts()/addidas.shape[0]>= 0.98 # uno de sus niveles cumple con la condicion

InStock        True
OutOfStock    False
Name: availability, dtype: bool

# Ejercicio 2
### Según el dataset de adidas, para las columnas categóricas, encontrar aquellas columnas que tengan entre 3-6 niveles. Al nivel con la frecuencia mas baja lo vamos a remplazar por la palabra Others, una vez ya tenga esa regla aplicarla al dataset original, tal cual como se hizo con el ejercicio hecho en clases.

In [21]:
columnas_niveles_3_6 =[]
columnas_fuera_rango =[]
# se usa el mismo arreglo de categorias definido des la primera parte por las mismas razones
for columna in categorias:
    # esta parte es parecida al ejercicio anterior, obtenemos los niveles de cada categoria para la validacion
    niveles = addidas.loc[:,[columna]].drop_duplicates()
    cantidad_niveles = niveles.shape[0]
    #validamos que esten entre el rango del ejercicio 
    if cantidad_niveles >=3 and cantidad_niveles <=6:
        columnas_niveles_3_6.append(columna)
    else:
        columnas_fuera_rango.append(columna)

In [22]:
columnas_niveles_3_6

['category']

In [41]:
# no aparecen todas las columnas porque algunas las descarte desde el principio
columnas_fuera_rango

['name',
 'currency',
 'availability',
 'color',
 'source',
 'source_website',
 'breadcrumbs',
 'description',
 'brand',
 'country',
 'language']

In [24]:
df_e2=addidas.groupby(["category"],as_index=False).agg({"sku":"count"})

In [25]:
df_e2.columns= ["category","frequency"]

In [26]:
df_e2 = df_e2.sort_values(["frequency"],ascending = False)

In [27]:
df_e2

      category  frequency
2        Shoes        426
1     Clothing        337
0  Accessories         82

In [28]:
# el nivel con la frencuancia mas baja sera sustituido por la palabra Others
df_e2["n_category"]=df_e2.apply(lambda r: "Others" if  ( r["frequency"] == df_e2["frequency"].min() )  else r["category"],axis=1)

In [29]:
df_rule_c=df_e2.loc[:,["category","n_category"]]

In [30]:
addidas=addidas.merge(df_rule_c,on=["category"],how="left")

In [31]:
addidas.head(2)

,url,name,sku,selling_price,original_price,currency,availability,color,category,source,...,breadcrumbs,description,brand,images,country,language,average_rating,reviews_count,crawled_at,n_category
0,https://www.adidas.com/us/beach-shorts/FJ5089....,Beach Shorts,FJ5089,40,NaN,USD,InStock,Black,Clothing,adidas United States,...,Women/Clothing,Splashing in the surf. Making memories with yo...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.5,35,2021-10-23 17:50:17.331255,Clothing
1,https://www.adidas.com/us/five-ten-kestrel-lac...,Five Ten Kestrel Lace Mountain Bike Shoes,BC0770,150,NaN,USD,InStock,Grey,Shoes,adidas United States,...,Women/Shoes,Lace up and get after it. The Five Ten Kestrel...,adidas,"https://assets.adidas.com/images/w_600,f_auto,...",USA,en,4.8,4,2021-10-23 17:50:17.423830,Shoes

In [32]:
# ahora quedaria intercambiar o mejor dicho eliminar la columna vieja de category
addidas=addidas.loc[:,['url', 'name', 'sku', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'n_category', 'source', 'source_website',
       'breadcrumbs', 'description', 'brand', 'images', 'country', 'language',
       'average_rating', 'reviews_count', 'crawled_at']]

In [33]:
addidas.loc[addidas["n_category"]=="Others",['url', 'name', 'selling_price', 'original_price', 'currency',
       'availability', 'color', 'n_category']]

,url,name,selling_price,original_price,currency,availability,color,n_category
11,https://www.adidas.com/us/athletic-cushioned-c...,Athletic Cushioned Crew Socks 6 Pairs,20,NaN,USD,InStock,White,Others
13,https://www.adidas.com/us/cushioned-mid-crew-s...,Cushioned Mid-Crew Socks 2 Pairs,14,NaN,USD,InStock,Black,Others
14,https://www.adidas.com/us/tour-camo-print-hat/...,Tour Camo-Print Hat,30,NaN,USD,InStock,Blue,Others
25,https://www.adidas.com/us/conext-21-mini-ball/...,Conext 21 Mini Ball,10,$14,USD,InStock,White,Others
57,https://www.adidas.com/us/3-stripes-low-cut-so...,3-Stripes Low Cut Socks 3 Pairs,10,$14,USD,InStock,Grey,Others
...,...,...,...,...,...,...,...,...
803,https://www.adidas.com/us/originals-sunglasses...,Originals Sunglasses OR0032,112,$160,USD,InStock,Black,Others
810,https://www.adidas.com/us/r.y.v.-sling-pack/H3...,R.Y.V. Sling Pack,41,$58,USD,InStock,Black,Others
821,https://www.adidas.com/us/adidas-adventure-bal...,adidas Adventure Ball Cap,23,$32,USD,InStock,Blue,Others
822,https://www.adidas.com/us/r.y.v.-toploader-bac...,R.Y.V. Toploader Backpack,63,$90,USD,InStock,Black,Others
834,https://www.adidas.com/us/jacquard-trefoil-cre...,Jacquard Trefoil Crew Socks 2 Pairs,12,$14,USD,InStock,White,Others

In [35]:

df_rule_c.to_csv("rule_category.csv")